[submodule "fe"]
    path = fe
    url = git@github.com:Hubert2047/MamMi-fe.git

[submodule "be"]
    path = be
    url = git@github.com:Hubert2047/MamMi_be.git

[submodule "print-agent"]
    path = print-agent
    url = git@github.com:Hubert2047/MamMi-print-agent.git

[submodule "order-web"]
    path = order-web
    url = git@github.com:Hubert2047/Mammi-order-web.git
